<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <%- include('../includes/navbar.ejs') %>
    
    <main>
        <form action="/add-author" method="POST" >
            <div class="form-group" >
              <label for="name">Name</label>
              <input type="text" name="name" class="form-control" id="name">
            </div>
            
            <div class="form-group">
                <label for="short-bio">Short-Bio</label>
                <textarea name="shortbio" id="short-bio" class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="bio">bio</label>
                <textarea name="bio" id="bio" class="form-control" rows="5"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </main>

<%- include('../includes/footer.ejs') %>